<%= form_with(model: occurence, local: true) do |form| %>
  <% if occurence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(occurence.errors.count, "error") %> prohibited this occurence from being saved:</h2>

      <ul>
      <% occurence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :deliveryDate %>
    <%= form.date_select :deliveryDate %>
  </div>

  <div class="field">
    <%= form.label :idRequest %>
    <%= form.number_field :idRequest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
