<%= render 'shared/menu' %>
<p id="notice"><%= notice %></p>

<h1>Entregas</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Deliverydate</th>
      <th>Request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occurences.each do |occurence| %>
      <tr>
        <td><%= occurence.status %></td>
        <td><%= occurence.deliveryDate %></td>
        <td><%= occurence.request&.item || '' %></td>
        <td><%= link_to 'Mostrar', occurence %></td>
        <td><%= link_to 'Editar', edit_occurence_path(occurence) %></td>
        <td><%= link_to 'Deletar', occurence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Entrega', new_occurence_path %>
