<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @occurence.status %>
</p>

<p>
    <strong>Deliverydate:</strong>
  <%= @occurence.deliveryDate.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Request:</strong>
  <%= @occurence.request&.item || '' %>
</p>

<%= link_to 'Editar', edit_occurence_path(@occurence) %> |
<%= link_to 'Voltar', occurences_path %>
