<%= render 'shared/menu' %>
<p id="notice"><%= notice %></p>

<h1>Suprimentos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Stock</th>
      <th>Unity of measure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.name %></td>
        <td><%= supply.details %></td>
        <td><%= supply.stock %></td>
        <td><%= supply.unity_of_measure %></td>
        <td><%= link_to 'Mostrar', supply %></td>
        <td><%= link_to 'Editar', edit_supply_path(supply) %></td>
        <td><%= link_to 'Deletar', supply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Suprimento', new_supply_path %>
